<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container-fluid p-0 text-black text-center">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/home" style="font-family: 'Futura PT';">Drop.</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about" style="font-family: 'Futura PT';">ABOUT</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="/products" style="font-family: 'Futura PT';">PRODUCTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact" style="font-family: 'Futura PT';">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>
<div class="mt-4 p-5 bg-dark text-white rounded">
  <h1 style="font-family: 'Futura PT';">ABOUT OUR MISSION.</h1>
  <p>a little bit about the people who hydrate you</p>
</div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-6">
      <h3 style="font-family: 'Futura PT';">WHO ARE WE?</h3>
      <p>a little about us</p>
      <p>
Drop, a visionary water company, had its humble beginnings in a small village in Pakistan with a noble mission – to bring unfiltered water to people in need. Born out of a collective desire to address the water scarcity challenges faced by the community, Drop embodies the spirit of grassroots initiative and empowerment. The company's motto, "from lake to person," encapsulates its commitment to delivering pure and unadulterated water directly to individuals. This ethos reflects not only the origins of Drop but also its dedication to providing accessible, clean water while fostering a sense of community and shared responsibility for the well-being of all.</p>
    </div>
    <div class="col-sm-6">
      <h3 style="font-family: 'Futura PT';">OUR IMPACT</h3>
      <p>What do we align with?</p>
      <p>
Drop, a revolutionary water company, is committed to making a significant impact on the bottled water industry by taking a unique approach. Unlike conventional brands solely focused on maximizing profits, Drop allocates an admirable 50% of its earnings towards combating the dominance of big water brands. This bold initiative reflects Drop's dedication to addressing environmental concerns, promoting sustainability, and ensuring access to clean water for communities worldwide. By redirecting a substantial portion of its profits towards these crucial causes, Drop not only distinguishes itself in the market but also contributes to a more sustainable and equitable future for all.</p>
    </div>
  </div>
</div>

<div class="mt-4 p-5 bg-dark text-white rounded">
  <div class="row">
    <div class="col-sm-4">
      <h3 style="font-family: 'Futura PT';">OUR FACTORY</h3>
        <img src="/static/water.jpeg" class="rounded" alt="dirt water" width="400" height="400"/>
    </div>
      <div class="col-sm-4">
      <h3 style="font-family: 'Futura PT';">CURRENT CEO</h3>
        <img src="/static/ceo.jpeg" class="rounded" alt="ceo" width="400" height="400"/>
  </div>
    <div class="col-sm-4">
      <h3 style="font-family: 'Futura PT';">WHERE IT STARTED</h3>
        <img src="/static/city.jpeg" class="rounded" alt="city" width="400" height="400"/>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-6">
      <h3 style="font-family: 'Futura PT';">VICE-CHAIR</h3>
        <img src="/static/boardmember.jpeg" class="rounded" alt="vice-chair" width="400" height="400"/>
    </div>

    <div class="col-sm-6">
      <h3 style="font-family: 'Futura PT';">TREASURER</h3>
        <img src="/static/boardmember2.jpeg" class="rounded" alt="treasurer" width="400" height="400"/>
    </div>
  </div>
</div>

</body>
</html>
