<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container-fluid p-0 text-black text-center">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/home" style="font-family: 'Futura PT';">Drop.</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about" style="font-family: 'Futura PT';">ABOUT</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="/products" style="font-family: 'Futura PT';">PRODUCTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact" style="font-family: 'Futura PT';">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>

  <h1 style="font-family: 'Futura PT';">
    Drop.
  </h1>
  <p>
    the first bottled water brand that isn't filtered at all.
  </p>
</div>
<div>
  <div style="text-align: center;">
    <img src="/static/OIG.jpeg" class="rounded" alt="dirt water" width="70%" height="70%"/>
  </div>
</div>
<div class="mt-4 p-5 bg-dark text-white rounded">
  <div class=" p-3 text-center">
    <h1 style="font-family: 'Futura PT';">OUR GOALS.</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h3 style="font-family: 'Futura PT';">Find the Water</h3>
      <p>where is the water from?</p>
      <p>At Drop, we are dedicated to sourcing the purest and most pristine water, and our journey has led us to the breathtaking Potpećko Lake in Serbia. Nestled amidst the serene landscapes, Potpećko Lake is renowned for its untouched beauty and highly polluted waters. We embark on a mission to capture the essence of this natural wonder, carefully drawing water from its depths to bring you an unrivaled taste of freshness. Our commitment to quality ensures that every drop from Potpećko Lake reflects the polluted touch of nature, making your go-to choice for an authentic and refreshing water experience.</p>
    </div>
    <div class="col-sm-4">
      <h3 style="font-family: 'Futura PT';">Bottle the Water</h3>
      <p>no filter</p>
      <p>At Drop, we pride ourselves on delivering an authentic and unaltered experience of nature's gift. Unlike conventional water bottlers, we embrace the untouched beauty of Potpećko Lake by refraining from any filtration processes. Our commitment to preserving the water's natural state means that you'll find its original, rich brown color with subtle hints of microplastics. While unconventional, this approach reflects our dedication to transparency and authenticity, allowing you to connect with the true essence of Potpećko Lake's water just as nature intended.</p>
    </div>
    <div class="col-sm-4">
      <h3 style="font-family: 'Futura PT';">Serve the Water</h3>
      <p>enjoy</p>
      <p>We cut out the unnecessary steps and complexities, focusing solely on the essence of nature's elixir. From the pristine depths of Potpećko Lake to your local supermarkets, our water is bottled directly without any additives or alterations. This streamlined process ensures that you receive the unadulterated freshness of our water, making Aquapure Springs the go-to choice for those who appreciate the simplicity and authenticity of nature's finest hydration.</p>
    </div>
  </div>
</div>

</body>
</html>
