<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container-fluid p-0 text-black text-center">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/home" style="font-family: 'Futura PT';">Drop.</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about" style="font-family: 'Futura PT';">ABOUT</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="/products" style="font-family: 'Futura PT';">PRODUCTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact" style="font-family: 'Futura PT';">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>

  <h1 style="font-family: 'Futura PT';">PRODUCTS</h1>
  <p>only the best. unfiltered. drop.</p>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <h3 style="font-family: 'Futura PT';">CLASSIC BOTTLE</h3>
      <p>$200</p>
      <img src="/static/bottle.jpeg" class="rounded" alt="dirt water" width="400px" height="400px"/>
      <p>
        At Drop, we've redefined the hydration experience by crafting a bottle that not only holds refreshing water but also embodies innovation and sustainability. Our bottles are more than just containers; they are a testament to our commitment to environmental responsibility. Made from eco-friendly materials, each Drop bottle is a step towards reducing single-use plastic waste. With a sleek and ergonomic design, our bottles are not just a means of quenching your thirst but also a statement of style and consciousness. Choose Drop for a refreshing sip of water that not only nourishes your body but also reflects your commitment to a greener, more sustainable future.
      </p>
    </div>
    <div class="col-sm-4">
      <h3 style="font-family: 'Futura PT';">AT THE GALLON</h3>
      <p>$20,000</p>
      <img src="/static/gallon.jpeg" class="rounded" alt="dirt water" width="400px" height="400px"/>
      <p>
        Introducing "Drop," where innovation meets hydration in our new gallon format. We've revolutionized the traditional water jug, transforming it into a symbol of sustainability and convenience. Drop's gallon is not just a container; it's a commitment to a healthier lifestyle and a greener planet. Crafted from eco-conscious materials, our gallon ensures you have an ample supply of clean water without compromising the environment. Its ergonomic design makes pouring easy, providing a seamless experience for your hydration needs. Join us in the journey towards a sustainable future with Drop's gallon – a refreshing choice that goes beyond quenching your thirst, embodying a conscious commitment to both wellness and environmental stewardship.
      </p>
    </div>
    <div class="col-sm-4">
      <h3 style="font-family: 'Futura PT';">LIFETIME SUPPLY</h3>
      <p>$200,000,000</p>
      <img src="/static/truck.jpeg" class="rounded" alt="dirt water" width="400px" height="400px"/>
      <p>
        Imagine never worrying about running out of crisp, refreshing water again – that's the promise of Drop's revolutionary offering. This is not just a bulk purchase; it's an investment in your well-being and peace of mind. Crafted with sustainability in mind, our lifetime supply ensures you have a consistent source of clean water without contributing to excessive waste. The package is designed to seamlessly integrate into your lifestyle, providing convenience without compromise. Choose Drop for a lifetime of hydration, a commitment to sustainability, and the assurance that your well will never run dry. Embrace the future of limitless refreshment with Drop's Lifetime Supply of Water – because staying hydrated should be a lifelong joy, not a fleeting concern.
      </p>
    </div>
  </div>
</div>

</body>
</html>
